@font-face {
    font-family: 'scriptinaregular';
    src: url('../fonts/scriptina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



* {
	margin: 0;
	padding: 0;
}

html, body {

}

.site_wrapper {
	color: #fff;
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.container {
	height: 900px;
	background: radial-gradient(circle closest-side, #564f4cb5 20%, #00000000 100%), #fff url('../images/intro.bmp') no-repeat center;
	width: 1600px;
	position: relative;
}
.header {
	height: 70px;
	line-height: 70px;
	background-color: rgba(86, 83, 76, 0.53);
}
.header_inner {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-logo {
	font-family: 'scriptinaregular', 'arial';
	font-size: 30px;
	letter-spacing: 9px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 400;
	opacity: 1;
	display: inline-block;
}

.navigation {
	font-size: 14px;
	letter-spacing: 4px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: "Alegreya";
	opacity: 1;
	display: inline-block;
}

.nav_tilda {
	padding: 40px;
	opacity: 1;
	color: #fff
}

.nav_link {
	color: #fff;
	opacity: 1;
	display: inline;
}

.header_socialmedia {
	color: #fff;
	opacity: 1;
	display: inline-block;
}

.link_socialmedia {
	width: 19px;
	height: 19px;
	color: #fff;
	opacity: 1;
	display: inline-block;
}

.circle_holder {
	position: absolute;
}

.circle {
	position: absolute;
	opacity: 0.71;

}

h1 {
	font-size: 92px;
	letter-spacing: 7px;
	line-height: 24px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Playfair Display";
	filter: drop-shadow(0px 1px 0px #3d3029);
	text-align: center;
	position: relative;
	top: 230px;
}

h2 {
	width: 580px;
	height: 69px;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 36px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Proxima Nova";
	text-align: center;
	position: relative;
	display: flex;
	top:400px;
	filter: drop-shadow(0px 1px 0px #3d3029);
	margin: 0px auto;
}

.dashline {
	transform: translate(702.5px, 275px);

}

.dashed_line {
	filter:url(#f1);
	fill:none;
	stroke:#fff;
	stroke-width:2;
	stroke-dasharray:8,16;
}

.btn_wrapper {
	display: flex;
	justify-content: center;
}

.button {
	background-color: rgba(86,83,76,0.53);
	position: absolute;
	padding: 18px 50px;
	border: 1px dashed #fff;
	font-size: 14px;
	letter-spacing: 4px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-family: "Alegreya";
	top: 636px;
}

.button:hover {
	border: 1px solid #ffffff;
}

.container2 {
background-color: #fefefd;
height: 760px;
}

.container3 {
	background: #fff url('../images/Ebene 11.jpg') no-repeat center;
	background-size: 1600px auto;
	background-position: -10px -20px;
	height: 760px;
}

.container4 {
	background: #fff url('../images/background_container4.jpg') no-repeat center;
	background-size: 1600px auto;
	background-position: 0px -165px;
	height: 760px;
}

.container5 {
	background-color: #f3f1e9;
	height: 1160px;
}
