@font-face {
    font-family: 'scriptinaregular';
    src: url('../fonts/scriptina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*, html, body {
	padding: 0;
	margin: 0;
}

*, ::before, ::after {
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*------header block------
radial-gradient(circle closest-side, #564f4cb5 20%, #00000000 100%)
*/

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border: 1px solid skyblue;
}

.header__shrink {
	border: 1px solid purple;
	padding-left: 170;
	flex-basis: 170px;
	flex-shrink: 0.5;
}

.header {
	background-image: url('../images/intro.bmp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 215px;
}

.header__inner {
	min-height: 70px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap:0px;
	background-color: rgba(86, 83, 76, 0.53);
	align-items: center;
}

.header__logo {
	align-items: center;
	border: 1px solid gold;
	margin-top: auto;
	margin-bottom: auto;

}

.header__navigation {
	border: 1px solid gold;
}

.header__list {
	border: 1px solid;
	font-family: "Alegreya";
	font-size: 14px;
	letter-spacing: 4px;
	list-style: none;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 15px;
	column-gap: 0px;
	margin: 15px 0px;
	padding: 0;

}

.header__wrapper {
	border: 1px solid red;
	display: flex;
	justify-content: space-between;
	column-gap: 40px;
}

.header__tilda {
	border: 1px solid green;
	color: #ffffff;
}

.header__item {
	flex-grow: 2;
	border: 1px solid silver;
	position: relative;
}

.header__link {
	border: 1px solid blue;
	text-decoration: none;
	color: #ffffff;
}

.header__social-links {
	list-style: none;
	display: flex;
	justify-content: space-between;
	column-gap: 29px;
	border: 1px solid gold;
	align-items: center;
}

.header__social-link {
}

.header__info {
	border: 1px solid green;
	display: block;
	text-align: center;
}

.header__title {
	font-size: 92px;
	letter-spacing: 7px;
	line-height: 92px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Playfair Display";
	filter: drop-shadow(0px 1px 4px #3d3029);
	text-align: center;
	padding-top: 172px;
	padding-bottom: 80px;
	border: 1px solid gold;
	position: relative;
}

.header__title:after {
	position: absolute;
	content: '';
	background-image: url('../images/dashline.svg');
	background-repeat: no-repeat;
	height: 14px;
	width: 190px;
	bottom: 0;
	margin-left: -95px;
	left: 50%;

}

.header__text {
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 36px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Proxima Nova";
	text-align: center;
	filter: drop-shadow(0px 1px 0px #3d3029);
	padding: 70px 0px;
	max-width: 550px;
	border: 1px solid gold;
	margin: 0px auto;
}


.header__button {
	background-color: rgba(86,83,76,0.53);
	padding: 18px 50px;
	border: 1px dashed #fff;
	font-size: 14px;
	letter-spacing: 4px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-family: "Alegreya";
	margin: 0px auto;
}

.header__button:hover {
	background-color: rgba(86,83,76,0.70);
	border: 1px solid #ffffff;
	cursor: pointer;
}

.seaaling_wax {
	position: absolute;
	left: 747px;
	top: 847px;
	z-index: 10;
}

/*------2nd block------*/
.chef {
background-color: #fefefd;
display: flex;
flex-wrap: wrap;
justify-content: center;
}


.chef__info {
	max-width: 630px;
	text-align: center;
}

.chef__title {
	font-size: 48px;
	letter-spacing: 1px;
	line-height: 48px;
	color: #56534c;
	font-weight: 700;
	font-family: "Alegreya";
	padding-top: 70px;
	padding-bottom: 20px;
	color: #56534c;
}
.chef__subtitle {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 30px;
	font-weight: 700;
	font-family: "Alegreya";
	text-transform: uppercase;
	padding-bottom: 65px;
	color: #a47d5e;
}

.chef__text {
	padding: 0px 74px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
	font-weight: 500;
	color: #56534c;
	font-family: "proximanova", sans-serif;
	padding-bottom: 42px;
}

.chef__cook {
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #56534c;
	font-weight: 700;
	font-family: "Alegreya";
	padding-bottom: 45px;
}

.chef__profile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	border: 1px solid red;
	max-width: 372px;
	margin: 0px auto;
}


.chef__name {
	display: inline-block;
	border: 1px solid blue;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #56534c;
	font-weight: 400;
	font-family: "Alegreya";
	text-align: center;
	border-top: 1px solid #d7d5ca;
	border-bottom: 1px solid #d7d5ca;
	padding: 22px 22px 18px 22px;

}

.chef__photo {
	border-radius: 50%;
	display: inline-block;
	object-fit: cover;
	object-position: left;
	border: 1px solid green;
}

.chef__subtext {
	position: relative;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #a47d5e;
	font-weight: 400;
	font-family: "scriptinaregular";
	display: block;
	max-width: 408px;
	margin: 0px auto;
	margin-top: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-bottom: 92px;
	border: 1px solid gold;
}

.chef__subtext:before {
	content: "“";
	position: absolute;
	left: 0;
	top:10px;
	opacity: 0.502;
	font-size: 60px;
	letter-spacing: 2px;
	color: #56534c;
	font-family: "Times New Roman";
}

.chef__subtext:after {
	content: "“";
	position: absolute;
	right: 0;
	bottom: -15px;
	opacity: 0.502;
	font-size: 60px;
	letter-spacing: 2px;
	color: #56534c;
	font-family: "Times New Roman";
	transform: rotateY(180deg);
}

.chef__pictures {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 630px;
	justify-content: center;
	align-content: center;
	padding-bottom: 50px;
	padding-top: 50px;
}

.chef__review {
	position: absolute;
	color: #000;
	width: 247px;
	height: 247px;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 36px;
	text-transform: uppercase;
	color: #c9b176;
	font-weight: 400;
	font-family: "Alegreya";
	text-align: center;
	display: flex;
	align-items: center;
	background-image: url('../images/sogood.png');
	margin-left: -123px;
	margin-top: -123px;
	left:50%;
	top: 50%;
}






/*------3rd block------*/
.menu {
	background-image: url('../images/Ebene11.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 140px;
	padding-bottom: 108px;
	row-gap: 100px;
}

.menu__photo {
	position: relative;
	object-fit: cover;

}
.photo-wrapper {
	position: relative;
	clip-path: polygon(0px 0px, 418px 0px, 418px 512px, 50px 512px, 0px 462px);
}

.photo-wrapper:after {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	background: linear-gradient(45deg, #ffffff 0%, #ffffff 100%);
	bottom: 4px;
	left: 0px;
}

.description-wrapper {
	display: flex;
	border: 4px solid blue;
	max-width: 653px;
}


.menu__description {
	border: 3px solid green;
	background-color: #fff;
	text-align: center;
	padding-top: 80px;
	height: 512px;
	flex-basis: 548px;
	flex-shrink: 0.5;
}

.description-wrapper__spacer {
	border: 1px solid yellow;
	flex-basis: 105px;
	flex-shrink: 1;
	position: relative;

}

.test {

}

.menu__timer {
	position: absolute;
	border: 1px solid blue;
	text-align: center;
	width: 200px;
	height: 200px;
	background-color: #fff;
	background-image:  url('../images/timer_water_sign.png');
	right: 0px;
	top: -62px;
}

.menu__positions {
	display: flex;
	border: 1px solid black;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.menu__arrow {
	fill: #d8bba3;
}

.menu__arrow:hover {
	fill: #56534c;
	cursor: pointer;
}

.menu__list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	padding: 0px 15px;
}

.menu__item {
}

.menu__pic {
	border-radius: 50%;
}

.menu__wrapper {
	border: 1px solid gold;
}

.menu__header {
	justify-content: space-between;
	display: flex;
	border: 1px solid red;
}

.menu__wrapper-spacer {
	border: 1px solid black;
	flex-basis: 106px;
}

.menu__title {
	text-align: left;
	padding-left: 64px;
	font-size: 48px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #56534c;
	font-weight: 700;
	font-family: "Alegreya";
	padding-bottom: 14px;
	display: block;
}

.menu__subtitle{
	text-align: left;
	padding-left: 64px;
	padding-bottom: 60px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #a47d5e;
	font-weight: 700;
	font-family: "Alegreya";
	text-transform: uppercase;
	display: block;
}




.menu__information {
	text-align: left;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
	color: #56534c;
	font-family: "Proxima Nova";
	padding-left: 64px;
	padding-right: 84px;
	margin-bottom: 70px ;
}


.ready_timer {
	display: block;
	width: 200px;
	height: 200px;
	background: #fff url('../images/timer_water_sign.png');
	position: absolute;
	right: -105px;
	top:-43px;
	text-align: center;
	box-shadow: 10px 20px 50px #c6bcb4,-10px 20px 50px #c6bcb4
}

.ready_in{
	display: block;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 30px;
	text-transform: uppercase;
	color: #a47d5e;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
	margin-top: 34px;
}

.timer {
	font-size: 92px;
	letter-spacing: 2px;
	line-height: 30px;
	text-transform: uppercase;
	color: #dfc691;
	font-weight: 700;
	font-family: "Alegreya";
	display: block;
	margin-top: 43px;
}

.mins {
	display: block;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 30px;
	color: #979285;
	font-weight: 700;
	font-family: "Alegreya";
	margin-top: 15px;
}

/*------4th block------*/
.container4 {
	background: #fff url('../images/background_container4.jpg') no-repeat;
	background-size: 1600px auto;
	background-position: 0px -165px;
	height: 760px;
	color: #fff;
	position: relative;
}

.container4_wrapper {
	width: 1260px;
	height: 100%;
	display: flex;
	justify-content: center;
	margin: 0px auto;
}

.prices_section {
	width: 50%;
	display: block;
	text-align: center;
}

.prices_section_title {
	margin-top: 95px;
	font-size: 60px;
	letter-spacing: 3px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
	display: block;
	margin-bottom: 18px;

}

.prices_section_subtitle {
	margin-bottom: 50px;
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 30px;
	color: #c8a593;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
	display: block;
}

.menu_item {
	margin-top: 0px;
	display: block;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
}

.menu_item_description {
	margin-top: 16px;
	font-weight: 400;
	font-family: "Proxima Nova";
	display: block;
	color: #c2beba
}

.price {
	margin-top: 34px;
	display: block;
	font-size: 36px;
	letter-spacing: 2px;
	line-height: 30px;
	color: #dfc691;
	font-weight: 400;
	font-family: "Alegreya";
	text-align: center;
}

.water_sign_prices {
	margin: 5px 0;
	background: url('../images/water_sign_prices.png') no-repeat center;
	display: block;
}

.notes_section {
	width: 630px;
	display: block;
	position: relative;

}

.note_book {
	position: absolute;
	width: 440px;
	height: 600px;
	right: 0px;
	top:88px;
	background: #ffffff;
}

/*------5th block------*/
.container5 {
	background-color: #f3f1e9;
	height: 1160px;
}
