@font-face {
    font-family: 'scriptinaregular';
    src: url('../fonts/scriptina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, html, body {
	padding: 0;
	margin: 0;
}

*, ::before, ::after {
	box-sizing: border-box;
}


/*------header block------
radial-gradient(circle closest-side, #564f4cb5 20%, #00000000 100%)
*/

.shrink {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.shrink-inner {
	border: 1px solid purple;
	padding-left: 170;
	flex-basis: 170px;
	flex-shrink: 0.5;
}

.header {
	background-image: url('../images/intro.bmp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-bottom: 215px;
}

.header_inner {
	min-height: 70px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap:0px;
	background-color: rgba(86, 83, 76, 0.53);
	align-items: center;
}

.header__logo {
	align-items: center;
	border: 1px solid gold;
	margin-top: auto;
	margin-bottom: auto;

}

.header__navigation {
	border: 1px solid gold;
}

.header__list {
	border: 1px solid;
	font-family: "Alegreya";
	font-size: 14px;
	letter-spacing: 4px;
	list-style: none;
	text-transform: uppercase;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 15px;
	column-gap: 0px;
	margin: 15px 0px;
	padding: 0;

}

.header__wrapper {
	border: 1px solid red;
	display: flex;
	justify-content: space-between;
	column-gap: 40px;
}

.header__tilda {
	border: 1px solid green;
	color: #ffffff;
}

.header__item {
	flex-grow: 2;
	border: 1px solid silver;
	position: relative;
}

.header__link {
	border: 1px solid blue;
	text-decoration: none;
	color: #ffffff;
}

.header__social-links {
	display: flex;
	justify-content: space-between;
	column-gap: 29px;
	border: 1px solid gold;
	align-items: center;
}

.header__social-link {
}

.header__info {
	border: 1px solid green;
	display: block;
	text-align: center;
}

.header__title {
	font-size: 92px;
	letter-spacing: 7px;
	line-height: 92px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Playfair Display";
	filter: drop-shadow(0px 1px 4px #3d3029);
	text-align: center;
	padding-top: 172px;
	padding-bottom: 80px;
	border: 1px solid gold;
	position: relative;
}

.header__title:after {
	position: absolute;
	content: '';
	background-image: url('../images/dashline.svg');
	background-repeat: no-repeat;
	height: 14px;
	width: 190px;
	bottom: 0;
	margin-left: -95px;
	left: 50%;

}

.header__text {
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 36px;
	color: #ffffff;
	font-weight: 400;
	font-family: "Proxima Nova";
	text-align: center;
	filter: drop-shadow(0px 1px 0px #3d3029);
	padding: 70px 0px;
	max-width: 550px;
	border: 1px solid gold;
	margin: 0px auto;
}


.header__button {
	background-color: rgba(86,83,76,0.53);
	padding: 18px 50px;
	border: 1px dashed #fff;
	font-size: 14px;
	letter-spacing: 4px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-family: "Alegreya";
	margin: 0px auto;
}

.header__button:hover {
	background-color: rgba(86,83,76,0.70);
	border: 1px solid #ffffff;
	cursor: pointer;
}

.seaaling_wax {
	position: absolute;
	left: 747px;
	top: 847px;
	z-index: 10;
}

/*------2nd block------*/
.container2 {
background-color: #fefefd;
display: flex;
justify-content: center;
}


.page2_leftpart {
	width: 630px;
	display: block;
	text-align: center;
}

.title_page2 {
	font-size: 48px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #56534c;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
	margin-top: 108px;
	color: #56534c;
}
.sub_title_page2 {
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 30px;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
	text-transform: uppercase;
	margin-top: 20px;
	display: block;
	color: #a47d5e;
}

.paragraph_page2 {
	width: 450px;
	height: 87px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
	color: #56534c;
	font-family: "Proxima Nova";
	text-align: center;
	margin: 65px auto;
}
.chef_cook_block {
	position: relative;
	display: flex;
	text-align: center;
	line-height: 100px;
	align-items: center;
	margin-top: 42px;
	display: block;
}

.chef_cook {
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #56534c;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
	display: block;
	margin-top: 70px;
}

.cook_name {
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #56534c;
	font-weight: 400;
	font-family: "Alegreya";
	text-align: center;
	display: inline-block;
	border-top: 1px solid #d7d5ca;
	border-bottom: 1px solid #d7d5ca;
	width: 111px;
	padding-top: 22px;
	padding-bottom: 18px;
}

.cook_name::after {
	top:0px;
	left: 0px;
	position: absolute;
	border-top: 1px solid #000;
}

.chef_photo{
	display: inline-block;
	width: 100px;
	height: 100px;
	background: url('../images/chef_photo.png') no-repeat center;
	background-position: -40px 0px;
	margin: auto 25px;
	position: relative;
}
.chef_circle {
	position: relative;
	background: radial-gradient(circle closest-side, #00000000 100%, #ffffff 0%)
}

.sub_chef {
	position: relative;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #a47d5e;
	font-weight: 400;
	font-family: "scriptinaregular";
	display: block;
	width: 408px;
	margin: 25px auto;
}

.top_brackets {
	display: block;
	position: absolute;
	left: 0px;
	top:6px;
	opacity: 0.502;
	font-size: 60px;
	letter-spacing: 2px;
	line-height: 30px;
	color: #56534c;
	font-family: "Times New Roman";
}

.bottom_brackets {
	display: block;
	position: absolute;
	right: 0px;
	bottom:-10px;
	opacity: 0.502;
	font-size: 60px;
	letter-spacing: 2px;
	line-height: 30px;
	color: #56534c;
	font-family: "Times New Roman";
}


.page2_rightpart {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 630px;
	justify-content: space-around;
	align-content: center;
}

.rectangle {
	position: absolute;
}

.taste_image {
	margin: 0px;
	display: inline-block;
	width: 295px;
	height: 250px;
	margin: 10px 0px;
}

.page2_rightlist_img1 {
	background: url('../images/page2_rightlist_img1.png') no-repeat center;
}

.page2_rightlist_img2 {
	background: url('../images/page2_rightlist_img2.png') no-repeat center;
}

.page2_rightlist_img3 {
	background: url('../images/page2_rightlist_img3.png') no-repeat center;
}

.page2_rightlist_img4 {
	background: url('../images/page2_rightlist_img4.png') no-repeat center;
}

.page2_rightlist_img5 {
	position: absolute;
	align-self: center;
}

.s0 { fill: rgba(255,255,255,0.90)}
.s1 { fill: none;stroke: rgba(255,255,255,0.90);stroke-width: 2}

.tastes_so_good {
	position: absolute;
	align-self: center;
	color: #000;
	text-align: justify;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 36px;
	text-transform: uppercase;
	color: #c9b176;
	font-weight: 400;
	font-family: "Alegreya";
	text-align: center;
}

/*------3rd block------*/
.container3 {
	background: #fff url('../images/Ebene11.jpg') no-repeat center;
	background-size: 1600px auto;
	background-position: 0px -20px;
	width: 1600px;
	height: 760px;
	position: relative;
	align-items: center;
	display: flex;
}

.menu_wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	margin-left: 265px;
}

.menu_photo_wrapper{
	display: flex;
	position: relative;
}

.menu_photo {
	background: url('../images/menu_photo.png') no-repeat;
	background-size: auto 512px;
	width: 418px;
	height: 512px;
	background-position: -325px;
	clip-path: polygon(0px 0px, 418px 0px, 418px 512px, 50px 512px, 0px 462px);
}

.paper_triangle{
	position: absolute;
	display: block;
	top: 462px;
}

.menu_description {
	background: #fff url('../images/mill.png') no-repeat center;
	background-position: right bottom;
	width: 548px;
	position: relative;
	display: block;
}

.menu_title {
	display: block;
	font-size: 48px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #56534c;
	font-weight: 700;
	font-family: "Alegreya";
	margin-left: 60px;
	margin-top: 83px;
}

.submenu_title{
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 30px;
	color: #a47d5e;
	font-weight: 700;
	font-family: "Alegreya";
	margin-left: 60px;
	margin-top: 21px;
}

.dish_information {
	width: 420px;
	height: 58px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 24px;
	color: #56534c;
	font-family: "Proxima Nova";
	margin-left: 60px;
	margin-top: 72px;
}

.menu_list_block{
	margin-top: 80px;
	margin-left: 60px;
	margin-right: 60px;
	bottom: 40px;
	color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu_circle {
	width: 90px;
	height: 90px;
	clip-path: circle(50%);
	margin: 0px 15px;
}

.dish1 {
	background: url('../images/dish1.png') no-repeat;
	background-position: 40% 50%;
}

.dish2 {
	background: url('../images/dish2.png') no-repeat;
	background-position: 50% 100%;
}

.dish3 {
	background: url('../images/dish3.png') no-repeat;
	background-position: 100% 60%;
}

.nav_left { fill: #d8bba3 }
.nav_right { fill: #d8bba3 }

.nav_left:hover { fill:#56534c }
.nav_right:hover { fill:#56534c }

.ready_timer {
	display: block;
	width: 200px;
	height: 200px;
	background: #fff url('../images/timer_water_sign.png');
	position: absolute;
	right: -105px;
	top:-43px;
	text-align: center;
	box-shadow: 10px 20px 50px #c6bcb4,-10px 20px 50px #c6bcb4
}

.ready_in{
	display: block;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 30px;
	text-transform: uppercase;
	color: #a47d5e;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
	margin-top: 34px;
}

.timer {
	font-size: 92px;
	letter-spacing: 2px;
	line-height: 30px;
	text-transform: uppercase;
	color: #dfc691;
	font-weight: 700;
	font-family: "Alegreya";
	display: block;
	margin-top: 43px;
}

.mins {
	display: block;
	font-size: 18px;
	letter-spacing: 2px;
	line-height: 30px;
	color: #979285;
	font-weight: 700;
	font-family: "Alegreya";
	margin-top: 15px;
}

/*------4th block------*/
.container4 {
	background: #fff url('../images/background_container4.jpg') no-repeat;
	background-size: 1600px auto;
	background-position: 0px -165px;
	height: 760px;
	color: #fff;
	position: relative;
}

.container4_wrapper {
	width: 1260px;
	height: 100%;
	display: flex;
	justify-content: center;
	margin: 0px auto;
}

.prices_section {
	width: 50%;
	display: block;
	text-align: center;
}

.prices_section_title {
	margin-top: 95px;
	font-size: 60px;
	letter-spacing: 3px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
	display: block;
	margin-bottom: 18px;

}

.prices_section_subtitle {
	margin-bottom: 50px;
	font-size: 18px;
	letter-spacing: 3px;
	line-height: 30px;
	color: #c8a593;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
	display: block;
}

.menu_item {
	margin-top: 0px;
	display: block;
	font-size: 30px;
	letter-spacing: 2px;
	line-height: 30px;
	color: #ffffff;
	font-weight: 700;
	font-family: "Alegreya";
	text-align: center;
}

.menu_item_description {
	margin-top: 16px;
	font-weight: 400;
	font-family: "Proxima Nova";
	display: block;
	color: #c2beba
}

.price {
	margin-top: 34px;
	display: block;
	font-size: 36px;
	letter-spacing: 2px;
	line-height: 30px;
	color: #dfc691;
	font-weight: 400;
	font-family: "Alegreya";
	text-align: center;
}

.water_sign_prices {
	margin: 5px 0;
	background: url('../images/water_sign_prices.png') no-repeat center;
	display: block;
}

.notes_section {
	width: 630px;
	display: block;
	position: relative;

}

.note_book {
	position: absolute;
	width: 440px;
	height: 600px;
	right: 0px;
	top:88px;
	background: #ffffff;
}

/*------5th block------*/
.container5 {
	background-color: #f3f1e9;
	height: 1160px;
}
